<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net45" />
  <package id="EventStore.Client" version="1.0.1" targetFramework="net45" />
  <package id="EventStore.Client" version="2.0.2" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
</packages>