<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="logging" type="Common.Logging.ConfigurationSectionHandler, NServiceBus.Core" />
    <section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <logging>
    <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
      <arg key="level" value="DEBUG" />
      <arg key="showLogName" value="true" />
      <arg key="showDataTime" value="true" />
      <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
    </factoryAdapter>
  </logging>
  <MsmqTransportConfig ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="5" />
  <UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
    <MessageEndpointMappings></MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <loadFromRemoteSources enabled="True" />
  </runtime>
  <Unity>
    <assembly name="CommonDomain" />
    <assembly name="CommonDomain.Core" />
    <assembly name="CommonDomain.Persistence" />
    <assembly name="GetEventStoreRepository" />
    <namespace name="GetEventStoreRepository" />
    <namespace name="CommonDomain.Persistence" />
    <containers>
      <container>
        <register type="IRepository" mapTo="GetEventStoreRepository" />
      </container>
    </containers>
  </Unity>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>