<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EventStore.Client" version="2.0.2" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="NServiceBus" version="4.5.1" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.5.0" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.5.1" targetFramework="net45" />
  <package id="NServiceBus.PowerShell" version="4.3.0" targetFramework="net45" />
  <package id="NServiceBus.Unity" version="4.1.1" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net45" />
</packages>